[submodule "Library/glfw"]
	path = Library/glfw
	url = git@github.com:glfw/glfw.git
[submodule "Library/VulkanMemoryAllocator"]
	path = Library/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Library/imgui"]
	path = Library/imgui
	url = git@github.com:edvn0/imgui.git
	branch = docking
